@media screen and(min-width:480px) {
	body{
		background: red;
	}
	/*****two column layout*****/
	#pramary{
		width: 50%;
		float: left;
	}
	#secondary{
		width: 40%;
		float: right;
	}
}
@media screen and(min-width:660px) {
	body{
		background: blue;
	}
}